<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Curso de VueJS</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<script src="vue.js"></script>
</head>
<body id="app">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="jumbotron" v-if="name">
                    <h1>
                        {{ genero == 'm' ? 'Bienvenido' : 'Bienvenida'}}, {{ name }}
                    </h1>
                    <h3>Sonrie porque Cristo te ama!!!</h3>
                </div>
                <div class="jumbotron" v-else>
                    <h1>Qui&eacute;n eres??</h1>
                </div>
                <form @submit.prevent="singUp(false, $event)">
                    <div class="radio">
                        <label class="radio-inline">G&eacute;nero: </label>
                        <label class="radio-inline">
                            <input type="radio" value="m" v-model="genero">
                            Hombre
                        </label>
                        <label class="radio-inline">
                            <input type="radio" value="f" v-model="genero">
                            Mujer
                        </label>
                    </div>
                    <input type="text" class="form-control" placeholder="Ingresa tu nombre" v-model="name">

                    <p class="alert alert-danger" v-if="name.length < 3">
                        El nombre no es valido
                    </p>

                    <br>

                    <p>A&ntilde;os de Experiencia en PHP</p>
                    <p>
                        Respuesta: {{ years_php }}
                        <button type="button" 
                            v-bind:class="{'btn': true, 'btn-xs': true, 'btn-danger': years_php > 10}"
                            v-bind:style="getTamanioFuente('PHP')"
                            v-bind:disabled="compararAnios('PHP')" 
                            @click="add('PHP')">
                            +
                        </button>
                        <button type="button" 
                            class="btn btn-xs" 
                            v-bind:disabled="years_php == 0" 
                            @click="sub('PHP')">
                            -
                        </button>
                    </p>

                    <p>A&ntilde;os de Experiencia en JS</p>
                    <p>
                        Respuesta: {{ years_js }}
                        <button type="button" 
                            v-bind:class="{'btn': true, 'btn-xs': true, 'btn-danger': years_js > 10}"
                            v-bind:style="getTamanioFuente('JS')"
                            v-bind:disabled="compararAnios('JS')" 
                            @click="add('JS')">
                            +
                        </button>
                        <button type="button" 
                            class="btn btn-xs" 
                            v-bind:disabled="years_js == 0" 
                            @click="sub('JS')">
                            -
                        </button>
                    </p>
                    
                    <hr>

                    <p v-show="name">
                        <button class="btn btn-primary">
                            Registrate
                        </button>

                        <button class="btn btn-primary" @click="singUp(true, $event)">
                            Registrate y Sal del sistema
                        </button>
                    </p>

                    <saludar v-bind:name="name"></saludar>
                </form>
                
                <pre>
                    {{ $data | json }}
                </pre>
            </div>
        </div>
    </div>
	
	<script type="text/javascript">
        Vue.component('saludar', {
            template: '<h3>Buen dia {{ name }}</h3>',
            props: ['name']
        });

        new Vue({
            el: '#app',

            data: {
                name: "",
                birthday: "",
                today: new Date(),
                genero: "m",
                years_php: 0,
                years_js: 0,
                origin_php: 1995,
                origin_js: 1997
            },

            methods: {
                singUp: function(value, event){
                    event.preventDefault();
                    alert(this.name + ", por favor espera mientras te registramos");

                    if(value){
                        alert("Saliendo del sistema ...");
                    }
                },
                add: function(tech){
                    if(tech == 'PHP'){
                        this.years_php++;
                    } else if(tech == 'JS'){
                        this.years_js++;
                    }                    
                },
                sub: function(tech){
                    if(tech == 'PHP'){
                        this.years_php --;
                    } else if(tech == 'JS'){
                        this.years_js --;
                    }                    
                },
                compararAnios: function(tech){
                    var anio_actual = this.today.getFullYear();
                    if(tech == 'PHP'){
                        var dif_anios = anio_actual - this.origin_php;
                        return this.years_php >= dif_anios;
                    } else if(tech == 'JS'){
                        var dif_anios = anio_actual - this.origin_js;
                        return this.years_js >= dif_anios;
                    }
                },
                getTamanioFuente: function(tech){
                    if(tech == 'PHP'){
                        return {
                            'font-size': 10 + this.years_php + 'px'
                        };   
                    }else if(tech == 'JS'){
                        return {
                            'font-size': 10 + this.years_js + 'px'
                        };
                    }
                    
                }
            }
        })
	</script>
</body>
</html>